<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1 class="display-1">404 Not Found</h1>
        <h2 class="display-2">Oops!</h2>
        <div class="error-details">
          <p class="lead">
            Sorry, an error has occured, Requested page not found!
          </p>
        </div>
        <div class="error-actions">
          <a href="#" class="btn btn-primary btn-lg" [routerLink]="['/']"
            ><span class="glyphicon glyphicon-home"></span> Take Me Home
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
