<div class="container col-6">
  
    <a class="btn btn-primary" [routerLink]="['/admin']">Go Back</a>
  
  <div>
    <div class="form-group">
      <label>Buyer name</label>
      <div class="form-control">{{ datosCliente.name }}</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="form-control">{{ datosCliente.email }}</div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <div class="form-control">{{ datosCliente.phone }}</div>
    </div>
    <div class="form-group">
      <label>Serial Number</label>
      <div class="form-control">{{ datosCliente.serialNumber }}</div>
    </div>
    <div class="form-group">
      <label>Purchase Date</label>
      <div class="form-control">{{ datosCliente.purchaseDate }}</div>
    </div>
    <div class="form-group">
      <label>Id</label>
      <div class="form-control">{{ datosCliente.id }}</div>
    </div>
    <div class="form-group">
      <label>Purchase Price</label>
      <div class="form-control">{{ datosCliente.purchasePrice }}</div>
    </div>

    <div class="form-group">
      <label>Purchase Price</label>
      <div class="form-control">{{ datosCliente.contact }}</div>
    </div>
    <div class="form-group">
      <label>Model</label>
      <div class="form-control">{{ datosCliente.model }}</div>
    </div>


  </div>
</div>